/*2020年7月16日CSS解析エラーなし！*/


body {
	font-family: sans-serif;
	color: #333333;
	margin: 0;
}

/*リンク*/
a {
	color: #999966;
	}

a:hover {
	color: #996600;
	}/*マウスオンで色替え*/



#pageBodyMain p {
	font-size: 14px;
	line-height: 1.429;
	}


/*ページ*/
#page {
	width: 980px;
	margin: 0 auto;
	}



/*ページヘッダー*/
#pageHead #siteTltle {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 0;
	font-family: 'Kokoro', serif;
	}


#pageHead #catchcopy {
	font-size: 12px;
	line-height: 1.5;
	margin-top: 5px;
	}



/*グローバルナビ*/

#pageHead .globalNavi {
	border: solid #cccccc;
	border-width: 1px 0;
	padding: 10px 0;
	}/*メインメニューライン装飾*/


#pageHead .globalNavi ul li a {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 5px 0;
	}/*下線を消す、色を継承、aをブロック要素に*/


#pageHead .globalNavi ul li a:hover,
#pageHead .globalNavi ul li.current a {
	background-color: #F2F2E5;
	}/*マウスオーバー時の色替え,現ページに色付き*/


#pageHead .globalNavi ul {
	margin: 0;
	padding: 0;
	}/*罫線との空きをカット*/


#pageHead .globalNavi ul:after {
	content: "";
	clear: both;
	display: block;
	}/*clearfix*/


#pageHead .globalNavi ul li {
	list-style: none;
	width: 245px;
	float: left;
	border-left: solid 1px #cccccc;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	line-height: 1.429;
	}/*リスト記号非表示,*メニューを横並びに*/


#pageHead .globalNavi ul li:first-child {
	border-left: none;
	}/*ホーム罫線消す*/



/*パンくずリスト*/
.topicPath {
	font-size: 12px;
	}


/*ページ先頭へもどる*/
.pagetop {
	font-size: 12px;
	text-align: right;
	margin-top: 30px;
	}


.pagetop a {
	background-image: url("../../portfolio/images/ico_pagetop.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 10px;
	}



/*ページフッター*/
#pageFoot {
	border-top: solid 1px #cccccc;
	margin-top: 15px;
	}


#PageHead #copyright small {
	font-size: 12px;
	line-height: 1.5;
	}/*製作者表記小さめ*/



/*ページボディ*/
#pageBody {
	margin-top:30px;
	}


#pageBody:after {
	content: "";
	clear: both;
	display: block;
	}


#pageBodyMain {
	width:720px;
	float: left;
	}/*左*/



/*サブカラム内の装飾*/

/*見出し*/

#pageBodySub h3 {
	font-size: 16px;
	line-height: 1.375;
	padding: 5px;
	margin-top: 0;
	border-bottom: 1px solid #cccccc;
	}


/*お知らせ*/

#pageBodySub .newsList ul {
	list-style: none;
	padding: 0;
	}


#pageBodySub .newsList ul li {
	font-size: 12px;
	line-height: 1.5;
	margin: 10px 5px;
	}


#pageBodySub .newsList ul li time {
	font-weight: bold;
	display: block;
	}



/*ローカルナビ*/

#pageBodySub .localNavi ul {
	margin: 0 0 30px;
	padding-left: 0;
	}/*ul要素の標準をカット、おしらせを下げた*/



#pageBodySub .localNavi ul li {
	font-size: 14px;
	line-height: 1.429;
	margin-bottom: 12px;
	list-style-type: none;
	background-image: url("../../portfolio/images/ico_arrow.png");
	background-repeat: no-repeat;
	background-position: 0 8px;
	padding-left: 10px;
	}/*右上サブメニュー*/



/*メインカラム内の装飾*/


/*見出し*/

#pageBodySub {
	width: 220px;
	float: right;
	}/*右おしらせ*/


/*リスト*/
#pageBodyMain ul li {
	font-size: 14px;
	list-style: square;
	line-height: 1.429;
	}



/*表*/
#pageBodyMain table {
	font-size: 14px;
	line-height: 1.429;
	border: solid 1px #cccccc;
	border-collapse: collapse;
	width: 100%;
	}



#pageBodyMain table th,
#pageBodyMain table td {
	border: solid 1px #cccccc;
	padding: 5px 10px;
	}



#pageBodyMain table th {
	background-color: #EEEEEE;
	text-align:left;
	}



#pageBodyMain table caption {
	text-align:left;
	font-weight: bold;
	}



/*図版*/
figure {
	margin: 0;
	}



/*画像キャプション*/
#pageBodyMain figcaption {
	font-size: 12px;
	}



/*見出し*/

#pageBodyMain .pageTitle {
	font-size: 26px;
	background-color: #F2F2E5;
	padding: 5px 15px;
	line-height: 1.231;
	margin-top: 0;
	}/*h2*/



#pageBodyMain .heading-typeA {
	font-size: 18px;
	color: #349FA6;
	border-bottom: solid 1px #E3E4D9;
	padding: 5px;
	line-height: 1.333;
	}/*h3*/

#pageBodyMain .heading-typeB {
	font-size: 16px;
	border-left: solid 5px #E3E4D9;
	padding-left: 10px;
	line-height: 1.375;
	}/*h4*/

#pageBodyMain .heading-typeC {
	font-size: 14px;
	line-height: 1.429;
	}/*h3*/


#pageBodyMain .articleDetailHead{
	border-bottom: solid 1px #cccccc;
	margin-bottom: 30px;
	padding-bottom: 15px;
	}


#pageBodyMain .articleDetailFoot{
	border-top: solid 1px #cccccc;
	margin-top: 30px;
	padding-top: 15px;
	}


#pageBodyMain .articleDetailBody{
	margin: 30px 0;
	}



#pageBodyMain .creditUnit {
	padding: 10px;
	border: solid 1px #cccccc;
	}


#pageBodyMain .creditUnit p {
	font-size: 12px;
	line-height: 1.5;
	}

